.content-for-provider {
  background-image: asset-url("provider/greasy_snow.jpg");
}

.bg-white {
  background: white;
}

.main-header .navbar-provider {
  margin-left: 0;
}

.stat-box {
  border: 1px solid black;
  padding: 10px;
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.stat-box:hover {
  font-color: gray;
}

.provider-sidebar {
  background: black;
  .sidebar-menu {
    a {
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-size: 120%;
    }
    a:hover { color: #444444;}
    a.active { font-color: #444444; }
  }
}

.settings-menu {
  li.nav-item:hover {
    background: white !important;
    cursor: pointer;
  }
  li.nav-item {
    border: 0;
    a {
      color: black;
      font-weight: 700;
      font-size: 120%;
    }
  }
  li.nav-item.active {
    border: 0;
    border-bottom: 2px solid black !important;
    color: olive;
  }
  .nav > li > a {
     padding: 10px 45px !important;
  }
}
.tab-pane {
  padding: 10px;
}
.user-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#avatar_change_link {
  width: 85%; margin: 10px auto;
  a {
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 700;
  }
}

.avatar-wrapper {
  width: 120px;
  margin: 0 auto;
}

.tab-content {
  .field {
    padding: 10px;
    width: 100%;
    input {
      width: 100%;
      padding-left: 10px;
      height: 40px;
    }
  }
}

#stat_boxes .small-box .inner:hover {
  color: black;
}

#stat_boxes .small-box:hover {
  color: black;
}