.navbar-provider {
  
  .sys-message {
    padding-top: 10px;
    width: 85%;
    div {
      text-align: center;
      padding-left: 16%;
    }
  }

  .success, .notice {
    color: green;
  }
  .error, .danger {
    color: orangered;
  }
  
}

.main-header {
  border-bottom: 2px solid lightgray;
    .navbar-provider {
    margin-left: 0;
  }
}