.settings-tab {
  padding: 20px;
  .help-block {
    padding-left: 20px;
    color: orangered;
    font-size: 80%;
  }
}

.settings-menu {
  ul.nav-pills {
    border-bottom: 2px solid lightgray;
  }
  li.nav-item:hover {
    background: white !important;
    cursor: pointer;
  }
  li.nav-item {
    border: none;
    a {
      border: none;
      color: black !important;
      background: white !important;
      font-weight: 700;
      font-size: 120%;
      padding: 10px 45px !important;
    }
    a:focus,
    a:hover,
    a:active {
      color: black !important;
      background: white !important;
    }
  }
  li.nav-item:active,
  li.nav-item.active {
    border: none !important;
    outline: none !important;
    border-bottom: 3px solid black !important;
    color: olive;
  }
}

.provider-settings-menu {
  ul.nav-pills {
    border-bottom: 1px solid #e5e5e5;

    li.nav-item {
      margin-bottom: -1px;
      margin-right: 100px;
      opacity: 0.5;

      &:last-child {
        margin-right: 0;
      }

      .nav-link {
        padding: 5px 0 15px !important;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.5px;
        background: transparent !important;
        border-radius: 0;

        &.active {
          border-bottom: 3px solid black;
          opacity: 1;
        }
      }

      &:hover {
        background: transparent !important;
        opacity: 1;

        .nav-link {
          background: transparent !important;
          border-bottom: 3px solid black;
        }
      }

      &.active,
      &:active {
        border-bottom: none !important;
        opacity: 1;
      }
    }
  }
}

.tab-pane {
  padding: 10px;
}
.user-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.user-image-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 150px;
  transform: translate(-50%, -50%);
}

#avatar_change_link {
  margin: 20px 35%;
  width: 85%;
  a {
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
  }
}

.avatar-wrapper-2 {
  width: 150px;
  height: 150px;
  margin: 25px auto;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.avatar-wrapper {
  width: 120px;
  margin: 0 auto;
}

.tab-content {
  .field {
    padding: 10px;
    width: 100%;
    input {
      width: 100%;
      padding-left: 10px;
      height: 40px;
    }
  }
}

.provider-settings-tab-content {
  padding: 0;
  margin-top: 50px;

  .tab-content-wrapper {
    max-width: 305px;
    width: 100%;
  }

  div.form-input-container {
    padding: 0;
    margin-bottom: 20px;

    &.mb35 {
      margin-bottom: 35px;
    }
  }

  .avatar-wrapper-2 {
    margin: 0 auto;
    margin-bottom: 4px;
    height: 80px;
    width: 80px;

    .user-image-2 {
      height: 80px;
    }
  }

  .avatar-change-link#avatar_change_link {
    margin-top: 0;
    margin-bottom: 32px;
    width: auto;

    & > a {
      color: #009fe2;
      font-weight: 400;
    }
  }

  .collection-container {
    width: 100%;
    display: flex;
    align-items: center;

    & > div:first-child {
      width: 70px;
      padding: 0;
      margin: 0;
      margin-right: 30px;

      .circle {
        border-radius: 50%;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;

        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
      }
    }

    & > div:last-child {
      width: auto;
      padding: 0;

      h3 {
        margin: 0;
        margin-bottom: 10px;
        letter-spacing: 0.5px;
        font-weight: 700;
        font-size: 21px;
      }

      strong {
        font-weight: 400;
        letter-spacing: 0.5px;
        font-size: 16px;
      }
    }
  }

  .no-padding {
    padding: 0;
  }

  .custom-black-btn {
    border-radius: 2px !important;
    font-weight: 500 !important;
    width: 100% !important;
  }
}
