<%= form_for( @contact_user_reply,
              url: admin_contact_user_replies_path,
              html: { id: 'frm_send_reply' } ) do |f| %>
  <div class="modal-body">
    <div class="form-group">
      <label for="v_email">Visitor Email</label>
      <%= f.hidden_field :contact_us_id %>
      <%= text_field_tag :v_email, nil, class: "form-control", readonly: "true" %>
    </div>
    <div class="form-group">
      <label for="message">Reply message</label>
      <%= f.text_area(:message, rows: 5, class: "form-control") %>
    </div>                        
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>      
<% end %>
