<% if comments.present? %>
  <%= render :partial => 'blogs/comment', :collection => comments, :as => :comment %>
  <% if comments.next_page %>
	<span class="viewBtn">
    <%= link_to blog_comments_path(blog_id: @blog.id, page: comments.next_page), :class => 'view-more comBtn', :remote => true do %>
      View more
    <% end %>
  </span>
  <% end %>
<% else %>
  <span>
    Currently, no comments available to show.
  </span>
<% end %>