<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body style="font-family: 'Roboto', sans-serif; background: #f3f3f3">
    <div style="display: block; width: 100%; max-width: 500px; margin: 0 auto; background: #fff">
        <div style="margin-bottom: 15px; background: #FFEB3B; padding: 30px; color: #4e4e4e;">Hello, <strong><%= @display_name %></strong></div>
        <div style="background: #fff; padding: 10px 30px 30px; line-height: 24px; letter-spacing: 0.3px; color: #696969;">
            <p style="margin-bottom: 15px;">You may have received an email recently about changing your password. Yep! That was from us, it wasn’t a bug. We apologise for any confusion.</p>
            <p style="margin-bottom: 15px;">To give you more context, we pushed a security update to our new website which requires a new password from each user. It is important to us that we protect your data.</p>
            <p style="margin-bottom: 15px;">To change your password, Please sign in <a style="color: #3c92ef; font-weight: 700;" href="https://miniflix.tv/sign_in" target="_blank">here</a>, and enter your new password <strong><%= @user.temp_password %> </strong> </p>
            <div style="font-weight: 300; margin-top: 30px">Again, apologies for any inconvenience</div>
            <br>
            <strong>Minflix Team</strong>
        </div>
    </div> 
</body>
</html>
