<h3> Add New Episode</h3>

                  <div class="form-group" style="width: 25%">
                      <select class="form-control valid" name="season_id" 
                              aria-required="true" aria-invalid="false"
                              onclick="return handleSeasonSelection(this);">

                          <option value selected>Choose Season</option>
                          <%= serial.seasons.each do |season| %>
                            <option value="<%= season.id %>"><%= season.season_number %></option>
                          <% end %>
                      </select>
                      <div class="errors-container" id="season_errors">
                          <p>Please, choose the Season</p>
                      </div>
                      <div id="new_episode_link" style="margin-top:  15px; display: none">
                        <%= link_to 'Upload new Episode to this Serie', new_admin_episode_path(serial_id: serial.id), target: '_blank' %>
                      </div>
                  </div>

<script>

var handleSeasonSelection = function(el) {
  var link = $('#new_episode_link a');
  var lhref = link.attr('href');
  if (lhref.indexOf('season_id') < 0 ) {
    link.attr('href', lhref + '&season_id=' + el.value);
  }
  if (el.value.length) {
    $('#season_errors').hide();
    $('#new_episode_link').show();
  } else {
    $('#season_errors').show();
    $('#new_episode_link').hide();
  }
  return true;
};

</script>
