<h3 class="provider-title"> 
  <strong>
    <a class="previous-stage" href="<%= previous_wizard_path(slug: @provider_movie.slug) %>" title="Go to previous step"><i class="fa fa-long-arrow-left"></i></a>
    <span class="pl20">Add Movie</span>
  </strong>
</h3>