        <div class="form-group">
          <label>Movie</label>
        </div>

        <div class="row" style="display: none;" id="progress-bar">
          <div class="col-sm-11 col-xs-10">
            <!-- Progress bars -->
            <div class="progress">
              <div class="progress-bar progress-bar-green" id="v_u_progress_bar"></div>
            </div>
          </div>
          <div class="col-sm-1 col-xs-2 p-l-0" id="v_u_percent">
          </div>
        </div>

          <%= multipart_uploader_form( input_name: 'video_file',
                                       uploader: 'MoviesUploader',
                                       button_class: 'video-submit-button btn btn-primary m-t-15 hidden',
                                       button_text: 'Upload Movie',
                                       types: ["video/*"],
                                       html: %Q{} ) %>