
<div class="form-group form-input-container">
    <label>Series</label>
    <select class="form-control valid" 
            name="serial"
            id="serial_id"
            data-remote="true"
            aria-required="true" aria-invalid="false">
        <%= current_user.own_serials.each do |serial| %>
          <option value="<%= serial.id %>" rel="<% serial.slug %>"><%= serial.title %></option>
        <% end %>
    </select>
</div>

