<footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="hidden-md-down col-md-1 col-sm-1">
        </div>
        <div class="col-md-2 col-sm-3">
          <div class="ftr-sub">
            <ul>
              <li>
                <span>About</span>
              </li>
              <li>
                <a href="/page/about_us">About Miniflix</a>
              </li>
              <li>
                <a href="mailto:info@miniflix.tv?subject=Film submission">Submit a Film</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-3">
          <div class="ftr-sub">
            <ul>
              <li><span>Help</span></li>
              <li>
                <a href="/page/help_center">Contact Miniflix</a>
              </li>
              <li>
                <a href="/page/help_center">FAQ</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-3">
          <div class="ftr-sub">
            <ul>
              <li><span>Resources</span></li>
              <li><a href="https://blog.miniflix.tv/blogs">Blogs</a></li>
              <li><a href="/sitemap">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-3">
          <div class="ftr-sub">
            <ul>
              <li><span>Legal</span></li>
              <li><a href="/page/term_of_services">Term of services</a></li>
              <li><a href="/page/privacy_policy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-3">
          <div class="ftr-sub ftr-social">
            <ul>
              <li><span>Follow Us</span></li>
              <li>
                <a href="https://twitter.com/miniflixtv" target="_blank" rel="noopener noreferrer">
                  <span aria-hidden="true" class="fa fa-twitter-square fa fa-twitter"></span>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/miniflix" target="_blank" rel="noopener noreferrer">
                  <span aria-hidden="true" class="fa fa-facebook-official fa fa-facebook-official"></span>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/miniflixtv" target="_blank" rel="noopener noreferrer">
                  <span aria-hidden="true" class="fa fa-instagram fa fa-instagram"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="hidden-md-down col-md-1 col-sm-1">
        </div>
      </div>
    </div>
  </footer>