<% thumbnail = movie.movie_thumbnail %>

<label for="admin_movie_thumbnails">
  <%= t('label.movie.upload_movie_screenshots') %>
</label>

<div class="row">
  <% 3.times do |n| %>
    <% ms = "movie_screenshot_#{n+1}".to_sym %>
    <div class="col-md-3 col-sm-12">
      <div class="fileupload fileupload-new" data-provides="fileupload">
        <%= link_to("#", class: 'movie-thumbnail-file-field-wrapper') do %>
          <div class="fileupload-new thumbnail">
            <%= render_thumbnail_image_for(is_edit_mode, ms.to_s, thumbnail.try(ms)) %>
          </div>
          <div class="fileupload-preview fileupload-exists thumbnail"></div>
        <% end %>

        <%= thumbnail_fields.file_field( ms,
                                         class: 'default movie-thumbnail-file-field',
                                         id: ms.to_s,
                                         accept: "image/*" ) %>
      </div>
    </div>
  <% end %>
</div>
