/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.movie-thumbnail-file-field {
  height: 0px !important;
}

.movie-thumbnail-file-field-wrapper .fileupload-new.thumbnail {
  width: 200px;
  height: 150px;
}

.fileupload-preview.fileupload-exists.thumbnail {
  max-width: 200px;
  max-height: 150px;
  line-height: 20px;
}