  <!-- Modal -->
  <div class="modal fade sign-up-subscription-modal" id="blogSubscriberModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Please enter your email to subscribe with Miniflix blogs.</h4>
        </div>
        <div class="modal-body">
          <% blog_subscriber = @blog_subscriber || BlogSubscriber.new %>
          <%= form_for blog_subscriber,
                       url: blog_subscribers_path,
                       method: :post,
                       remote: true,
                       html: {class: 'form-vertical form-group-control'} do |f| %>
            <div class="form-group">
              <div class="form-input">
                <%= f.email_field :email, class: "form-control", placeholder: "Enter email", required: true %>
                <span class='blg-advice text-danger error-container'>
                </span>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
