
<div class="form-group">
    <label>Season</label>
    <select class="form-control valid" name="season_id"
            id="season_id" aria-required="true" aria-invalid="false"
            >

        <%= serial.seasons.each do |season| %>
          <option value="<%= season.id %>"><%= season.season_number %></option>
        <% end %>
    </select>
</div>

