<% is_edit_mode = local_assigns.has_key?(:is_edit_mode) ? is_edit_mode : false %>

<div id="episode_upload_wrapper" class="row"> <!-- FIXME  add number to sequence -->
  <div class="col-md-12">

    <div style="margin: 20px 0">

      <div class="dropbox-advanced-upload">
        <div class="file-upload">
          <%= multipart_uploader_form(
               input_name: 'video_file',
               uploader: 'EpisodesUploader',
               button_class: 'video-submit-button m-t-15 hidden',
               button_text: 'Upload Movie',
               types: ["video/*"],
               html: %Q{} ) 
          %>
         <div class="dropbox-controls">Drag file here or <a onclick="$(this).parent().find('#video_file').click();">browse</a></div>
        </div>
      </div>

        <div class="file-info" style="padding: 5px; <% unless movie&.film_video %> display: none; <% else %> margin-top: 10px; <% end %>">
        <%= render partial: 'file_info', locals: {movie: movie, category: 'episode'} %>
      </div>

    </div>

  </div>
</div>
