#apiList th {
  padding: 7px 15px;
  text-align: left;
  border: 1px solid #000;
  background-color: #FF9800;
  color: #fff;
  font-size: 16px;
}

#apiList td {
  background: none repeat-x scroll center left;
  color: #000;
  padding: 7px 15px;
  font-family: Verdana;
  border: 1px solid #000;
}

#apiList tr.odd td {
  background: #e8e8ec repeat-x scroll center left;
  cursor: pointer;
}

#apiList td#get{
  background-color: #4DAB58;
}

#apiList td#post{
  background-color: #CC9900;
}

#apiList td#put{
  background-color:#3366FF;
}

#apiList td#delete{
  background-color: #CC3300;
}
