<%= javascript_include_tag 'admin/upload_movies', 'data-turbolinks-track' => true %>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= t('heading.episode') %>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="row">
            <div class="col-lg-12 col-xs-12">
              <h3 class="box-title">Add new episode details</h3>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body" id="upload_video">
          <%= render partial: 'upload_video', locals: {kind: 'episode'} %>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->