<p>Hello <%= @resource.name %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<% target_path_to_edit_password =
  if @resource.staff?
    "#{ENV['BLOG_HOST']}/users/password/edit?reset_password_token=#{@token}"
  elsif @resource.admin?
    "#{ENV['RAILS_ADMIN_HOST']}/admin/users/password/edit?reset_password_token=#{@token}"
  elsif @resource.provider?
    "#{ENV['RAILS_ADMIN_HOST']}/provider/users/password/edit?reset_password_token=#{@token}"
  else
    edit_password_url(@resource, reset_password_token: @token, redirect_url: message['redirect-url'].to_s)
end %>

<p><%= link_to 'Change my password', target_path_to_edit_password %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
